#myVideo {
    position: relative;
    height: 80%;
    width: 100%;
    left: 0%;
}

h1.de {
    color: #18476d;
}

h1.di {
    color: rgb(36, 109, 143);
}

body {
    background-image: url("Iback.jpg");
    background-size: 100%;
}

footer {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    margin-top: 100px;
    display: flex;
    background-image: url("IFooter.jpg");
    background-size: cover;
    justify-content: space-around;
}

footer h1 {
    width: 40%;
    align-self: center;
    letter-spacing: 15px;
    margin-left: 10%;
    font-size: 50px;
    font-weight: bold;
}

footer .div {
    width: 90%;
    height: 20%;
    align-self: left;
    border-left: 2px solid #e5e5e5;
    padding: 20px;
    display: flexbox;
    justify-content: space-around;
}

footer .div ul li {
    list-style: none;
    margin: 20px auto;
}

footer .div ul li a {
    text-decoration: none;
}

nav h1 {
    color: white;
    font-size: 40px;
    width: 30%;
    font-weight: bolder;
}

nav ul li a .fa {
    text-decoration: none;
    color: white;
}

nav {
    width: 96%;
    height: 70px;
    font-family: sans-serif;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box select {
    background-image: url("back6.jpg");
    color: #566179;
    padding: 10px;
    width: 500px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: "\f13a";
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.box:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
    padding: 30px;
}

.GFG {
    background-color: rgb(176, 226, 241);
    border: 1px solid rgb(50, 116, 170);
    color: rgb(76, 99, 201);
    padding: 5px 10px;
    text-align: center;
    display: contents;
    font-size: 20px;
    margin: 10px 30px;
    cursor: pointer;
}

nav ul {
    width: 60%;
    list-style: none;
}

nav ul li {
    list-style: none;
    float: left;
    margin: 10px 35px;
    padding: 1px;
    font-size: 20px;
    font-weight: bold;
}

footer .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 130px 5px;
    border-radius: 60%;
}

footer .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.hey {
    align-content: center;
}