.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 50px;
    color: rgb(38, 141, 209);
}

* {
    box-sizing: border-box;
}

.hey {
    color: #f1f1f1;
}

body {
    font-family: Arial;
    padding: 40px;
    background-image: url("msbg.jpg");
    background-size: auto;
}


/* Header/Blog Title */

.header {
    padding: 30px;
    text-align: center;
    background-image: url("msback.jpg");
    background-size: cover;
}

.header h1 {
    font-size: 50px;
}


/* Style the top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
}


/* Style the topnav links */

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
}


/* Change color on hover */

.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/* Fake image */

.fakeimg {
    width: 20%;
    padding: 20px;
}


/* Add a card effect for articles */

.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Footer */

.footer {
    padding: 20px;
    text-align: center;
    color: #f1f1f1;
    margin-top: 20px;
    letter-spacing: 15px;
    font-weight: bold;
    font-size: 25px;
}